body {
  color: #232730;
  font-family: "Open Sans", Arial, sans-serif;
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 200;
  line-height: 29px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-bottom: 10px;
  ;
}
li {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 1.3;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  text-align: center;
}

.weather-temperature img {
  width: 150px;
  height: 150px;
  margin: 0 0;
  padding: 0;
}
.weather-temperature strong {
  font-size: 52px;
  font-weight: 700px;
  line-height: 1;
  margin-top: 45px;
}
.units .active {
  text-decoration: none;
}
.weather-temperature .units {
  margin-top: 45px;
  text-decoration: none;
}

.weather-wrapper {
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}
.weather-app-border {
  border: 2px solid #452a39;
  border-radius: 15px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/092/413/original/eberhard-grossgasteiger-J9NDmBVhN04-unsplash.jpg?1691360376");
  background-size: cover;
  padding: 50px;
  margin: 20px auto;
  opacity: 0.8;
}
.elements {
  padding: 40px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature .active {
  color: #232730;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
  cursor: default;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}
.forecast-date {
  font-size: 18px;
  color: #232730;
}
.forecast-temperature {
  font-size: 16px;
  color: #232730;
}
.forecast-temperature-minimum {
  opacity: 0.75;
}
